/* 
    Document   : application.css
    Created on : 7 Dec, 2010, 6:10:57 PM
    Author     : amar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.update_div{
    width:350px;
    margin-left: 100px;
    background-color: yellow;
    border-color: red;
}