%h1 Listing items
#loading_div{:style =>"float:left;width:40%;padding:9px 0px 9px 0px;text-align:right; display:none;" }
    %span{:id=>"loading" ,:style=>"display:block;"}
        %img{:src => "/images/loader.gif",:style=> "height:20px;width:20px;"}
%br
%br
%br
#update_div{:style=> "width:30px;height:40px;"}
%br
%br
=link_to_remote("update_div", :update => "posts",:url => { :action => "update_div", :controller => "items"},:loading => "hide_div('loading_div');",:loaded => "show_div('loading_div')")
-form_tag(selected_items_path, :method => 'get') do
    %table
    %tr
    %th Name
    %th Price
    -@items.each do |item|
        %tr
        %br
        %td
        %input{:type=>"checkbox", :name=>"item[]", :value=>"#{item.name}_#{item.price}"}
        %td=item.name
        %td=item.price
        %br
    =link_to "new items",new_item_path
    =submit_tag("place order")